

<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <h1 style="color:aliceblue;">Angular CRUD</h1>
<div class="d-flex">
    <button (click)="onModalClick(employees, 'addemployee')" data-bs-toggle="modal" data-bs-target="#addEmployeeModel" class="btn btn-info">Add Employee</button>
</div>
</div>>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">PhoneNo</th>
            <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let employee of employees">

                <td>{{employee.id}}</td>
                <td>{{employee.empName}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>
                    <button (click)="onModalClick(employee, 'update')" data-bs-target="#updateEmployeeModel" data-bs-toggle="modal" class="btn btn-secondary ">update</button>
                    <button (click)="onModalClick(employee, 'delete')" data-bs-target="#deleteEmployeeModel" data-bs-toggle="modal" class="btn btn-secondary mx-3">delete</button>
                </td>
                </tr>
                </tbody>>
    </table>


  
    




<!-- Add Modal -->
<div class="modal fade" id="addEmployeeModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
         </button>
         </div>
         

        
      <div class="modal-body">

        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)" novalidate>

            <!-- <div class="form-group">
                <label for="employeeName"> ID</label>
                <input ngModel name="id" type="text" class="form-control" id="employeeName" >
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div> -->
        
          <div class="form-group">
          <label for="employeeName"> Name</label>
          <input ngModel name="empName" type="text" required pattern="^[a-zA-Z]+$" ngModel maxlength="20" required #empName='ngModel' class="form-control" id="employeeName" >
          
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
          <label for="employeeName">Email</label>
         
          <input type="text" ngModel name="email"  required #email='ngModel' class="form-control" id="employeeName"  >
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>

        <div class="form-group">
          <label for="employeeName">PhoneNo.</label>
          <select ngModel name="countryCode" required id="" class="form-control form-control-sm">
 
            <option data-countryCode="IN" value='91'>India (+91)</option>
            <option data-countryCode="US" value="1">USA (+1)</option>
            <optgroup label="Other countries">
              <option data-countryCode="DZ" value="213">Algeria (+213)</option>
              <option data-countryCode="AD" value="376">Andorra (+376)</option>
              </optgroup>
            </select>
          
          <input type="text" ngModel name="phone" required #phoneno='ngModel' pattern="^[0-9]+$" class="form-control" id="employeeName" >
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        
        <div class="modal-footer">
          <button  type="reset" id="add-employee-form" class="btn btn-primary" data-dismiss="modal">reset</button>
          <button type="button" class="close" (click)='addForm.reset()' data-dismiss="modal" aria-label="Close"></button>
          <button   class="btn btn-primary" [disabled]="!addForm.valid"  data-dismiss="modal">Create</button>
        </div>
         </form>
      </div>
      

    </div>
  </div>
</div>

  <!-- update Modal -->
<div class="modal fade" id="updateEmployeeModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> 
        </div>
        <div class="modal-body">
  
          <form #editForm="ngForm">

            <div class="form-group">
                <label for="employeeName">ID</label>
                <input type="text" ngModel="{{editEmployee?.id}}" name="empid"  class="form-control" id="employeeName" >
              </div>
          
            <div class="form-group" >
            <label for="employeeName"> Name</label>
            <input type="text" ngModel="{{editEmployee?.empName}}" name="empName" type="text" class="form-control" id="employeeName" >
            </div>
  
            <input type="hidden" name="id" ngModel="{{editEmployee?.id}}" class="form-control" id="id"  placeholder="Email">
  
            <div class="form-group">
              <label for="employeeName">Email</label>
              <input type="text" ngModel={{editEmployee?.email}} name="email" class="form-control" id="employeeName"  >
            </div>
  
            <div class="form-group">
              <label for="employeeName">PhoneNo</label>
              <input type="text" ngModel="{{editEmployee?.phone}}" name="phone"  class="form-control" id="employeeName" >
            </div>
            
            <div class="modal-footer">
              <!-- <button type="button" id="update-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button (click)="onUpdateEmployee(editForm.value)" type="submit"  class="btn btn-primary">Update</button>
              <!-- <button (click)="onUpdateEmployee(editForm.value)" type="submit"  class="btn btn-primary">close</button> -->

            </div>
          </form>
  
        </div>
        
      </div>
    </div>
  </div>
  
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          <!-- <form #deleteEmp="ngForm"> -->
            <div class="modal-body">
              Do you want to delete this employee {{deleteEmployee?.id}} ?
            </div>
            
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" id="delete-employee-form" data-dismiss="modal">No</button> -->
              <button (click)="onDeleteEmployee(deleteEmployee.id)" data-dismiss="modal" type="submit" class="btn btn-primary" >Yes</button>
            </div>  
        <!-- </form> -->
        </div>
        
      </div>
    </div>
  </div>
  